*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 60px 20px;
}
@media (min-width: 600px) {
  body {
    padding: 60px;
  }
}

input[type=range] {
	width: 88%;
	display: inline-block;
}

.range-slider {
  margin: 15px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: 75%;
  height: 10px;
  border-radius: 4px;
  background: #f1f4f7;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 40%;
  background: #30a5ff;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #30a5ff;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #30a5ff;
}
.range-slider__range::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 40%;
  background: #30a5ff;
  cursor: pointer;
  -webkit-transition: background .15s ease-in-out;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #30a5ff;
}
.range-slider__range:active::-moz-range-thumb {
  background: #30a5ff;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 40px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #30a5ff;
  padding: 5px 5px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #30a5ff;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #f1f4f7;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
